Source: magic
Section: electronics
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               mesa-common-dev,
               libglu1-mesa-dev,
               tcl-dev,
               tk-dev,
               blt-dev,
               csh,
               m4
Standards-Version: 4.1.5
Vcs-Browser: https://salsa.debian.org/science-team/magic
Vcs-Git: https://salsa.debian.org/science-team/magic.git
Homepage: http://www.opencircuitdesign.com/magic/

Package: magic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tclsh, wish
Suggests: irsim
Description: VLSI layout tool
 Magic is a venerable VLSI layout tool, written in the 1980's at Berkeley by
 John Ousterhout, now famous primarily for writing the scripting interpreter
 language Tcl. Due largely in part to its liberal Berkeley open-source license,
 magic has remained popular with universities and small companies. The
 open-source license has allowed VLSI engineers with a bent toward programming
 to implement clever ideas and help magic stay abreast of fabrication
 technology. However, it is the well thought-out core algorithms which lend to
 magic the greatest part of its popularity. Magic is widely cited as being the
 easiest tool to use for circuit layout, even for people who ultimately rely on
 commercial tools for their product design flow.
